<div>
  <%= link_to "Back to Bands Index", bands_path %>
  <%= form_for @artist, html: {class: 'form form-horizontal'} do |f| %>
    <fieldset>
      <div>
        <%= f.label :name %>
        <div>
          <%= f.text_field :name %>
        </div>
      </div>
      <div>
        <%= f.label :biography %>
        <div>
          <%= f.text_area :biography, rows: 5 %>
        </div>
      </div>
      <div>
        <%= f.label :role %>
        <div>
          <%= f.text_field :role, rows: 5 %>
        </div>
      </div>
      <div>
        <%= f.label :birthday %>
        <div>
          <%= f.datetime_select :birthday, { include_blank: true, start_year: 1920, end_year: 2013 } %>
        </div>
      </div>
      <div>
        <%= f.label :join_date %>
        <div>
          <%= f.datetime_select :join_date, { include_blank: true, start_year: 1920, end_year: 2013 } %>
        </div>
      </div>
      <div>
        <%= f.label "Band: " %> <%= f.collection_select(:band_id, @bands, :id, :name) %>
      </div>
      
    <fieldset>
      <%= f.submit "Add Artist", class: "btn btn-primary" %> <%= link_to "Cancel", edit_band_path(@artist.band) %>
    </fieldset>
  <% end %>
</div>