<div>
  <%= link_to "Back to Bands Index", bands_path %>
  <%= form_for @album, html: {class: 'form form-horizontal'} do |f| %>
    <fieldset>
      <div>
        <%= f.label :title %>
        <div>
          <%= f.text_field :title %>
        </div>
      </div>
      <div>
        <%= f.label "Band" %>
        <div>
          <%= f.collection_select(:band_id, @bands, :id, :name) %>
        </div>
      </div>
      <div>
        <%= f.label :release_date %>
        <div>
          <%= f.datetime_select :release_date, { include_blank: true, start_year: 1920, end_year: 2013 } %>
        </div>
      </div>
      <h4>Songs</h4>
      <div class="songs">
      <%= f.fields_for :songs, @album.songs do |q| %>
        <div class="song">
          <div>
            <%= q.label :title %>: 
            <%= q.text_field :title %> 
            <%= q.label :ranking %>: 
            <%= q.text_field :ranking %>
          </div>
        </div>
      <% end %>
    </div>
    <a href="javascript:void(0)" id="new-song">Add new song</a>
      
    <fieldset>
      <%= f.submit "Create Album", class: "btn btn-primary" %> <%= link_to "Cancel", bands_path %>
    </fieldset>
  <% end %>
</div>

<div class="hidden">
  <% add_song(@new_album) %>
  <%= form_for @new_album do |f| %>
    <%= f.fields_for :songs do |q| %>
      <div id='song-template'>
        <div>
          <%= q.label :title %>: 
          <%= q.text_field :title %> 
          <%= q.label :ranking %>: 
          <%= q.text_field :ranking %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>