<div class="padded">
	<%= render partial: 'common/application_header' %>
	<div class="container">
		<h2 class="title centered"><%= @album.title %></h2>
		<p class="centered">
			<%= link_to "Edit", edit_album_path(@album) %> / 
			<%= link_to "Delete", album_path(@album), method: :delete, data: { confirm: 'Are you sure you want to delete this album?' } %>
		</p>
		<div class="top-margined">
			<b>Title: </b><%= @album.title %>
		</div>
		<div class="top-margined">
			<b>Release Date: </b><%= @album.release_date.strftime("%B %d, %Y") if @album.release_date.present? %>
		</div>
		<div class="top-margined">
			<b>Band: </b><%= @album.band.name %>
		</div>
		<b><u>Songs:</u></b>
		<ul>
			<% @album.songs.each do |song| %>
				<li>
					<%= song.title %>
					<% if song.ranking.present? %>
						<%= ", ranking: #{song.ranking}" %>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
</div>