<div>
  <%= link_to "Back to Bands Index", bands_path %>
  <%= form_for @band, html: {class: 'form form-horizontal'} do |f| %>
    <fieldset>
      <div>
        <%= f.label :name %>
        <div>
          <%= f.text_field :name %>
        </div>
      </div>
      <div>
        <%= f.label :description %>
        <div>
          <%= f.text_area :description, rows: 5 %>
        </div>
      </div>
      <div>
        <%= f.label :genre %>
        <div>
          <%= f.collection_select(:genre_id, @genres, :id, :title) %><%= link_to "Add new genre", new_genre_path %>
        </div>
      </div>

      <h4>Members</h4>
      <div class="members">
        <%= f.fields_for :artists, @band.artists do |q| %>
          <div>
            <%= q.object.name %>  
            <a href="javascript:void(0)" class="edit-artist" member-id=<%= q.object.id %>>Edit</a> / 
            <%= link_to "Delete", artist_path(q.object, from: "edit_band"), method: :delete, data: { confirm: 'Are you sure you want to delete this artist?' } %>
          </div>
          <div class="member toggle-visibility" data-id= <%= q.object.id %> >
            <fieldset>
              <div>
                <%= q.label :name %>
                <div>
                  <%= q.text_field :name %>
                </div>
              </div>
              <div>
                <%= q.label :biography %>
                <div>
                  <%= q.text_area :biography, rows: 5 %>
                </div>
              </div>
              <div>
                <%= q.label :role %>
                <div>
                  <%= q.text_field :role, rows: 5 %>
                </div>
              </div>
              <div>
                <%= q.label :birthday %>
                <div>
                  <%= q.datetime_select :birthday, { include_blank: true, start_year: 1920, end_year: 2013 } %>
                </div>
              </div>
              <div>
                <%= q.label :join_date %>
                <div>
                  <%= q.datetime_select :join_date, { include_blank: true, start_year: 1920, end_year: 2013 } %>
                </div>
              </div>
              
            </fieldset>
          </div>
        <% end %>
      </div>
      <div>
        <a href="javascript:void(0)" id="new-artist">Add Member</a>
      </div>

      <h4>Albums</h4>
      <% @band.albums.each do |album| %>
          <div>
            <%= album.title %>  <%= link_to "Edit", edit_album_path(album) %> / <%= link_to "Delete", album_path(album, from: "edit_band"), method: :delete, data: { confirm: 'Are you sure you want to delete this album?' } %>
          </div>
      <% end %>
      <div>
        <%= link_to "Add album", new_album_path(band_id: @band.id) %>
      </div>

      <h4>Shows</h4>
      <% @band.shows.each do |show| %>
          <div>
            <%= show.title %>  <%= link_to "Edit", edit_show_path(show) %> / <%= link_to "Delete", show_path(show, from: "edit_band"), method: :delete, data: { confirm: 'Are you sure you want to delete this show?' } %>
          </div>
      <% end %>
      <div class="shows">
        <%= f.fields_for :shows, @band.shows do |q| %>
          <div class="show toggle-visibility">
            <fieldset>
              <div>
                <%= q.label :title %>
                <div>
                  <%= q.text_field :title %>
                </div>
              </div>
              <div>
                <%= q.label :date %>
                <div>
                  <%= q.datetime_select :date, { include_blank: true, start_year: 1920, end_year: 2013 } %>
                </div>
              </div>
              <div>
                <%= q.label :venue %>
                <div>
                  <%= q.collection_select(:location_id, @locations, :id, :venue) %><%= link_to "Add new location", new_location_path %>
                </div>
              </div>
              
            <fieldset>
          </div>
        <% end %>
      </div>
      <div>
        <a href="javascript:void(0)" id="new-show">Add Show</a>
      </div>
              
    <%= f.submit edit ? "Update Band" : "Create Band" %> <%= link_to "Cancel", bands_path %>
    </fieldset>
  <% end %>
</div>

<div class="hidden">
  <% add_artist(@new_band) %>
  <% add_show(@new_band) %>
  <%= form_for @new_band do |f| %>
    <%= f.fields_for :artists do |q| %>
      <div id='artist-template'>
        <div>
          <fieldset>
              <div>
                <%= q.label :name %>
                <div>
                  <%= q.text_field :name %>
                </div>
              </div>
              <div>
                <%= q.label :biography %>
                <div>
                  <%= q.text_area :biography, rows: 5 %>
                </div>
              </div>
              <div>
                <%= q.label :role %>
                <div>
                  <%= q.text_field :role, rows: 5 %>
                </div>
              </div>
              <div>
                <%= q.label :birthday %>
                <div>
                  <%= q.datetime_select :birthday, { include_blank: true, start_year: 1920, end_year: 2013 } %>
                </div>
              </div>
              <div>
                <%= q.label :join_date %>
                <div>
                  <%= q.datetime_select :join_date, { include_blank: true, start_year: 1920, end_year: 2013 } %>
                </div>
              </div>
              
            </fieldset>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= form_for @new_band do |f| %>
    <%= f.fields_for :shows do |q| %>
      <div id='show-template'>
        <div>
          <fieldset>
              <div>
                <%= q.label :title %>
                <div>
                  <%= q.text_field :title %>
                </div>
              </div>
              <div>
                <%= q.label :date %>
                <div>
                  <%= q.datetime_select :date, { include_blank: true, start_year: 1920, end_year: 2013 } %>
                </div>
              </div>
              <div>
                <%= q.label :venue %>
                <div>
                  <%= q.collection_select(:location_id, @locations, :id, :venue) %><%= link_to "Add new location", new_location_path %>
                </div>
              </div>
              
            <fieldset>
        </div>
      </div>
    <% end %>
  <% end %>
</div>