<div>
  <%= link_to "Back to Bands Index", bands_path %>
  <%= form_for @band, html: {class: 'form form-horizontal'} do |f| %>
    <fieldset>
      <div>
        <%= f.label :name %>
        <div>
          <%= f.text_field :name %>
        </div>
      </div>
      <div>
        <%= f.label :description %>
        <div>
          <%= f.text_area :description, rows: 5 %>
        </div>
      </div>
      <div>
        <%= f.label :genre %>
        <div>
          <%= f.collection_select(:genre_id, @genres, :id, :title) %><%= link_to "Add new genre", new_genre_path %>
        </div>
      </div>
      
    <fieldset>
      <%= f.submit "Create Band", class: "btn btn-primary" %> <%= link_to "Cancel", bands_path %>
    </fieldset>
  <% end %>
</div>