<div class="padded">
	<%= link_to "Back to Bands Index", bands_path %>
	<div class="container">
		<h2 class="title centered"><%= @band.name %></h2>
		<p class="centered">
			<%= link_to "Edit", edit_band_path(@band) %> / 
			<%= link_to "Delete", band_path(@band), method: :delete, data: { confirm: 'Are you sure you want to delete this band?' } %>
		</p>
		<div class="top-margined">
			<b>Genre: </b><%= link_to @band.genre.title, genre_path(@band.genre) %>
		</div>
		<% if @band.description.present? %>
			<div class="top-margined">
				<b>Description: </b><%= @band.description %>
			</div>
		<% end %>
		<div class="top-margined">
			<b>Members: </b>
			<% @band.artists.each do |artist| %>
				<%= link_to artist.name, artist_path(artist) %>
			<% end %>
		</div>
		<div class="top-margined">
			<b>Albums: </b>
			<% @band.albums.each do |album| %>
				<%= link_to album.title, album_path(album) %>
			<% end %>
		</div>
		<div class="top-margined">
			<b>Shows: </b>
			<% @band.shows.each do |show| %>
				<%= link_to show.title, show_path(show) %>
			<% end %>
		</div>
	</div>
</div>