<table>
	<tr class='dashboard-header-nav'>
	  <%= nav_link "Albums", albums_path, 'albums' %>
	  <%= nav_link "Artists", artists_path, 'artists' %>
	  <%= nav_link "Bands", bands_path, 'bands' %>
	  <%= nav_link "Genres", genres_path, 'genres' %>
	  <%= nav_link "Venues", locations_path, 'locations' %>
	  <%= nav_link "Shows", shows_path, 'shows' %>
	  <%= nav_link "Songs", songs_path, 'songs' %>
	</tr>
</table>
