<div>
  <%= form_for @location, html: {class: 'form form-horizontal'} do |f| %>
    <fieldset>
      <div class="control-group">
        <%= f.label :venue, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :venue, class: 'span6' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :street_address, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :street_address, rows: 5, class: 'span6' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :city, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :city, class: 'span6' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :country, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :country, rows: 5, class: 'span6' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :continent, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :continent, class: 'span6' %>
        </div>
      </div>
      
    <fieldset>
      <%= f.submit "Create Location", class: "btn btn-primary" %> <%= link_to "Cancel", bands_path %>
    </fieldset>
      
  <% end %>
</div>